<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/Home.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <div class="main_image">
        <img src="../static/image/carbon.jpg" alt="" />
      </div>
      <div class="inner">
        <h1>Carbon Footprint Management</h1>
        <h3>A Smart Emission Abatement using Machine Learning</h3>
        <div class="input-file-container">
          <label tabindex="0" for="my-file" class="input-file-trigger"
            ><a href="/loading"> Predict Carbon Footprint</a>
          </label>
        </div>
      </div>
    </div>
  </body>
</html>
